<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout-2</title>
  <link rel="stylesheet" href="css/styles-2.css">
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <h1><a href="#">Site Title</a></h1>
      <ul class="header-nav">
        <li class="header-nav-item"><a href="#">Item 1</a></li>
        <li class="header-nav-item"><a href="#">Item 2</a></li>
        <li class="header-nav-item"><a href="#">Item 3</a></li>
        <li class="header-nav-item"><a href="#">Item 4</a></li>
      </ul>
    </header>
    <div class="content-box">
      <nav class="secondary-nav">
        <h2>Nav</h2>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Clients</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>
      <main class="main-content">
        <section class="main-content-box">
          <h2>Main Content</h2>
          <p><strong>I'm first in the source order.</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Sapiente veritatis accusantium, commodi modi excepturi
            labore officia doloribus exercitationem sit quam arum impedit
            placeat, eum officiis magnam deserunt neque obcaecati iusto.</p>
          <p>Nihil, illo. Facilis fugiat repellat tempora sed quis, repudiandae
            reiciendis voluptate tenetur unde molestias voluptatum nisi
            dicta odio sequi sunt debitis, saepe sint ut ipsam
            exercitationem ratione qui? Laborum, alias?</p>
          <p>Error molestias ire sunt nobis maxime velit ipsam, quia
            inventore! Facere facilis id ducimus at sint quas, beatae.
            aspernatur sapiente sequi officia ipsa saepe excepturi
            deserunt doloremque perspiciatis eaque voluptate.</p>
        </section>
        <footer class="footer">
          <p>Copyright © 2017</p>
        </footer>
      </main>
      <aside class="sidebar">
        <h2>Sidebar</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Accusamus quam minima inventore, ducimus, neque laborum deleniti
          magni explicabo aliquam veniam distinctio nobis, rem, quasi
          magnam. Perspiciatis numquam, neque quisquam possimus?</p>
        </aside>
    </div>
  </div>
</body>
</html>