* {
  box-sizing: border-box;
} 

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 80%;
  min-height: 700px;
  margin: 0 auto;

  display: flex;
  flex-flow: row wrap;

  border: 2px dotted #000;
}

.header {
  width: 100%;
  padding: 10px 20px 0;

  display: flex;
  justify-content: space-between;
  align-items: baseline;

  background-color: #ececec;
} 

.header-nav{
  display: flex;

  list-style: none;
  color: #00f
}

.header-nav-item {
  padding: 0 15px;
  
  border-right: 2px solid #00f;
}

.header-nav-item:last-child {
  border: none;
}

.content-box {
  display: flex;
}

.secondary-nav {
  width: 20%;
  padding: 15px;

  background-color: #cccccc;
}

.main-content {
  width: 60%;
  padding: 15px;
  
  display: flex;
  flex-direction: column;
}

.main-content-box {
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 20%;
  padding: 15px;

  background-color: #cccccc;
}

.footer {
  margin-top: auto;
  
  display: flex;

  background-color: #ececec;
}

.footer > p {
  padding-left: 15px;
}