* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

/* EXERCISE ONE */

.ex1-navigation {
  margin: 100px;
  padding: 5px;

  display: flex;
  justify-content: center;

  background-color: pink;
}

.ex1-list {
  margin: 0;
  padding: 0;

  display: flex;

  list-style: none;
}

.ex1-list-element {
  padding: 15px;

  display: flex;

  border-right: 2px solid red;
}

.ex1-list-element:last-child {
  border: none;
}

a {
  display: flex;

  color: red;
}

/* EXERCISE TWO */

.ex2-navigation {
  margin: 100px;

  background-color: pink;
}

.ex2-list {
  margin: 0;
  padding: 5px;

  display: flex;
  justify-content: space-evenly;

  list-style: none;
}

.ex2-list-element {
  width: 100%;
  padding: 15px;

  display: flex;
  justify-content: center;

  border-right: 2px solid red;
}

.ex2-list-element:last-child {
  border: none;
}



/* EXERCISE THREE */

.ex3-navigation {
  margin: 100px;

  display: flex;
  align-items: baseline;
  justify-content: space-between;

  background-color: pink;
}

.ex3-header {
  padding: 15px 20px 20px;
  margin: 0;

  display: flex;

  background-color: red;
}

.ex3-header > a {
  color: white;
}

.ex3-list {
  margin: 0;
  padding: 0;

  display: flex;

  list-style: none;
}

.ex3-list-element {
  padding: 15px;

  border-left: 2px solid red;
}